
body {
    background-color: white; 
    
}

.navbar {
    display: flex;
    background-color: white;
    height: 80px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#image1 {
    height: 35px;
    margin-top: 32px;
    margin-left: 20px;
    border: 2px solid;
    color: black;
    border-radius: 20%;
}

.search {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    margin-left: 12px;
    height: 8px;
    color: #0077b5;
    margin-top: 5px;
    text-decoration: underline;
}

.JOBSEARCH {
    color: #0077b5;
}

.input {
    margin-top: 35px;
    margin-left: 180px;
}

.place {
    width: 500px;
    height: 25px;
    border-radius: 10px;
    background-color: white;
    border-color: black;
}

.place:hover {
    background-color: rgb(248, 242, 242);
}

#magnify {
    margin-top: 38px;
    margin-left: 5px;
    height: 27px;
    width: 35px;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
}

.fa-solid fa-magnifying-glass {
    height: 20px;
    width: 20px;
    margin-top: 100px;
}


.home {
    height: 10px;
    width: 20px;
    margin-left: 100px;
    margin-top: 34px;
    text-align: center;
}

.home1 {
    color: #5f6063;
    height: 10px;
    font-size: x-small;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.home1:hover{
    text-decoration: underline;
}

.contact {
    height: 20px;
    width: 20px;
    margin-top: 34px;
    margin-left: 30px;
    text-align: center;
    width: 10%;
}

.contact1 {
    color: #5f6063;
    font-size: x-small;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.contact1:hover {
    text-decoration: underline;
}

.user {
    height: 20px;
    width: 20px;
    margin-top: 34px;
    margin-left: 20px;
    text-align: center;
}

.user1 {
    color: #5f6063;
    font-size: x-small;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.user1:hover {
    text-decoration: underline;
}

.signin {
    margin-top: 32px;
    margin-left: 65px;
    border: 1.6px solid #0077b5;
    border-radius: 35%;
    width: 80px;
    text-align: center;
    height: 40px;
}

.signin1 {
    margin-top: 12px;
    color: #0077b5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-decoration: none;
}

.signin1:hover {
    text-decoration: underline;
}

.line1 {
    margin-top: 40px;
    margin-bottom: 80px;
}

.employ {
    margin-top: 50px;
    font-size:larger;
}

.linkwriting {
    display: flex;
}

.employbg {
    background-color:  rgb(245, 239, 234);
}

.writing {
    width: 500px;
}

.link2 {
    margin-left: 265px;
    margin-top: 40px;
}

.wiki {
    margin-top: 10px;
    margin-left: 40px;
}

.wiki:hover {
    color: blue;
}

.graphbg {
    background-color: rgb(231, 237, 244);
    width: 80%;
    height: 80%;
}

.graph {
    height: 400px;
    margin-top: 20px;
    margin-left: 400px;
    margin-bottom: 60px;
}

.line2 {
    margin-top: 30px; 
}

.how{
    margin-top: 100px;
    color: rgb(37, 36, 36);
    font-size: 50px;
    margin-left: 250px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.link {
    margin-left: 320px;
    margin-top: 100px;
    height: 300px;
    width: 200px;
}

.bg {
    background-color: rgb(230, 230, 230);
    height: 300px;
    width: 1020px;
}

.steps {
    font-family: serif;
    font-weight: 500;
    color: black;
    margin-top: 160px;
    font-size: 20px;
    margin-left: 320px;
    font-size: 30px;
}

.list {
    margin-top: 20px;
    color: rgb(24, 24, 185);
font-style: italic;
    margin-left: 300px;
    font-size: 22px;
    margin-bottom: 20px
}

.line3 {
    margin-top: 80px;
}

.names {
    margin-top: 100px;
    margin-left: 300px;
    font-size: xx-large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    color: rgb(37, 36, 36);
    margin-bottom: 100px;
}

.company1 {
    font-size: larger;
}

.bg1 {
    background-color: rgb(245, 239, 234);
    height: 300px;
    display: flex;
}

#SALES {
    margin-left: 250px;
    margin-top: 23px;
    border-radius: 50%;
    margin-bottom: 30px;
}

#SALES:hover {
    border-radius: 0%;
}

.newline1 {
    margin-left: 500px;
    margin-top: 30px;
}

.company {
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.company1 {
    color: rgb(6, 61, 105);
}

.bg2 {
    margin-top: 30px;
    background-color: rgb(245, 239, 234);
    height: 300px;
    display: flex;
}

#soft {
    margin-top: 23px;
    margin-left: 445px;
    border-radius: 50%;
    margin-bottom: 30px;
}

#soft:hover {
    border-radius: 0%;
}

.newline2 {
    margin-top: 30px;
    margin-left: 210px;
}

.company2 {
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.company3 {
    color: rgb(6, 61, 105);
    font-size: 20px;
}

.bg3 {
    background-color: rgb(245, 239, 234);
    height: 300px;
    margin-top: 30px;
    display: flex;
}

#bank {
    margin-top: 23px;
    margin-left: 250px;
    border-radius: 50%;
}

#bank:hover {
    border-radius: 0%;
}

.newline3 {
    margin-left: 500px;
    margin-top: 30px;
}

.company4 {
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.company5 {
    color: rgb(6, 61, 105);
    font-size: 20px;
}

.bg4 {
    margin-top: 30px;
    background-color: rgb(245, 239, 234);
    height: 300px;
    display: flex;
}

#edu {
    margin-top: 23px;
    margin-left: 445px;
    border-radius: 50%;
}

#edu:hover {
    border-radius: 0%;
}

.newline4 {
    margin-top: 30px;
    margin-left: 210px;
}

.company6 {
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.company7 {
    color: rgb(6, 61, 105);
    font-size: 20px;
}

.line4 {
    margin-top: 80px;
}

.reference {
    margin-top: 100px;
    margin-left: 300px;
    font-size: xx-large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    color: rgb(37, 36, 36);
    margin-bottom: 70px;
}

.jobs {
    margin-top: 50px;
    display: flex;
}

.job {
    margin-top: 50px;
    font-size:larger;
    background-color: rgb(231, 237, 244);
    height: 300px;
    width: 100%;
    
    margin-right: 10px;
    
}

.perma {
    margin-top: 30px;
    font-size: xx-large;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.joblink {
    margin-left: 195px;
}

.linked {
    color: rgb(6, 61, 105);
}

.linked:hover {
    color: blue;
}

.indeed {
    color: rgb(6, 61, 105);
}

.indeed:hover {
    color: blue;
}

.glassdoor {
    color: rgb(6, 61, 105);
}

.glassdoor:hover {
    color: blue;
}

.naukri {
    color: rgb(6, 61, 105);
}

.naukri:hover {
    color: blue;
}

.intern {
    margin-top: 50px;
    font-size:larger;
    background-color: rgb(231, 237, 244);
    height: 300px;
    width: 100%;
    margin-left: 1px;
    margin-bottom: 100px;
    text-align: left;
}

.int {
    margin-top: 30px;
    font-size: xx-large;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.internlink {
    margin-left: 232px;
    text-align: left;
}

.internshala {
    color: rgb(6, 61, 105);
}

.internshala:hover {
    color: blue;
}

.letsintern {
    color: rgb(6, 61, 105);
}

.letsintern:hover {
    color: blue;
}

.stumagz {
    color: rgb(6, 61, 105);
}

.stumagz:hover {
    color: blue;
}

.youth4work {
    color: rgb(6, 61, 105);
}

.youth4work:hover {
    color: blue;
}

.sector2 {
    align-self: center;
    height: 200px;
    width: 200px;
    margin-left: 250px;
    margin-bottom: 100px;
    margin-right: 100px;
}

.sector1 {
    align-self: center;
    height: 200px;
    width: 200px;
    margin-left: 320px;
    margin-bottom: 100px;
    margin-right: 100px;
}

.sector3 {
    height: 200px;
    width: 200px;
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 100px;
    background-color: aqua;
}

.sector4 {
    height: 200px;
    width: 200px;
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 100px;
    background-color: aqua;
}

.foot {
    margin-top: 200px;
    background-color: #33475b;
    height: 300px;
    width: 100%;
}

.branding {
    display: flex;
}

.fb {
    margin-top: 80px;
    margin-left: 630px;
    text-align: center;
    width: 100%;
}

.twitter {
    margin-top: 80px;
    margin-left: 29px;
    
}

.linkedin {
    margin-top: 80px;
    margin-left: 35px;
    
}

.insta {
    margin-top: 80px;
    margin-right: 630px;
    margin-left: 30px;
    text-align: center;
    width: 100%;
}

.details {
    display: flex;
    margin-top: 35px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.homedetails {
    color: white;
    text-decoration: none;
    margin-left: 480px;
    text-align: center;
    width: 100%;
}

.homedetails:hover {
    text-decoration: underline;
}

.vertical1 {
    margin-top: 4.5px;
    border-left: 2px solid;
    height: 15px;
    position: absolute;
    left: 38.5%;
    color: white;
}

.aboutdetails {
    color: white;
    text-decoration: none;
    margin-left: 50px;
    text-align: center;
    width: 100%;
}

.aboutdetails:hover {
    text-decoration: underline;
}

.vertical2 {
    margin-top: 4.5px;
    border-left: 2px solid;
    height: 15px;
    position: absolute;
    left: 46%;
    color: white;
}

.servicesdetails {
    color: white;
    text-decoration: none;
    margin-left: 50px;
    text-align: center;
    width: 100%;
}

.servicesdetails:hover {
    text-decoration: underline;
}

.vertical3 {
    margin-top: 4.5px;
    border-left: 2px solid;
    height: 15px;
    position: absolute;
    left: 54.5%;
    color: white;
}

.teamdetails {
    color: white;
    text-decoration: none;
    margin-left: 50px;
    text-align: center;
    width: 100%;
}

.teamdetails:hover {
    text-decoration: underline;
}

.vertical4 {
    margin-top: 4.5px;
    border-left: 2px solid;
    height: 15px;
    position: absolute;
    left: 62%;
    color: white;
}

.contactdetails {
    color: white;
    text-decoration: none;
    margin-left: 50px;
    margin-right: 470px;
    text-align: center;
    width: 100%;
}

.contactdetails:hover {
    text-decoration: underline;
}

.copyright {
    font-style: italic;
    text-align: center;
    margin-top: 75px;
    color: white;
}

.reserved {
    font-style: italic;
    text-align: center;
    color: white;
}

